body {
	font-family: "微软雅黑", "宋体", Arial;
}

ul,
li {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

#playbulb_nav_holder i {
	display: none;
}

.box {
	width: 100%;
	height: 100%;
	line-height: 5;
	text-align: center;
	font-size: 5em;
	color: #fff;
	text-transform: capitalize;
	vertical-align: middle;
	position: relative;
}

.box img {
	width: 100%;
	height: 100%;
}

.btn-buy {
	width: 220px;
	height: 62px;
	border-radius: 11px;
	background-color: #FF9934;
	color: white;
	font-family: 微软雅黑;
	font-size: 29px;
	outline: none;
	cursor: pointer;
	position: absolute;
	bottom: 65px;
	right: 15px;
	opacity: .5;
	transition: all .6s ease .1s;
}

.box1 .btn-buy {
	background-color: #FF9934;
}

.box2 .btn-buy {
	background-color: #FF5677;
}


.box1 {
	background: url(../img/slide-1.jpg) center;
	background-size: cover;
}

.box2 {
	background: url(../img/slide-2.jpg) center;
	background-size: cover;
}


.btn-buy {
	margin-right: 0px;
	right: 15px;
	opacity: .5;
}

.slider {
	width: 100%;
	height: 100%;
}

.slider-nav__item {
	background-color: gray;
	box-shadow: 1px 1px 6px gray;
}

.slider-nav__item--current {
	background-color: #F2F38A;
}

#menu-playbulb {
	opacity: 0.96;
	filter: alpha(0.96);
}

.box1 .btn-buy:hover {
	box-shadow: 1px 1px 40px #FF9934;
	opacity: .8;
}

.box2 .btn-buy:hover {
	opacity: .8;
	box-shadow: 1px 1px 40px #FF5677;
}

.c-contact-ctt {
	margin: 54px auto;
	width: 100%;
	height: 100%;
	/*background-color: #313743;*/
	color: black;
	position: relative;
}

.c-contact-ctt dl {
	float: left;
	line-height: 1.6;
	margin-bottom: 20px;
	white-space: nowrap;
	font-size: 1em;
	margin-left:78px;
}

.c-contact-ctt dt {
	margin-bottom: 3px;
	
}
.c-contact-ctt dd {
	opacity: .8;
}

.c-contact-wrap {
	margin: 0 auto;
	padding: 50px 0 30px 30px;
	position: relative;
}

.c-contact-ctt .c-top-img {
	float: none;
	width: 100%;
}

.c-contact-ctt div p:first-of-type {
	font-weight: bold;
}

.c-contact-ctt h2 {
	font-size: 1.2em;
}