#playbulb_nav_logo {
	width: 116px;
	margin: auto;
	padding-left: 5vw !important;
	float: left;
}

#playbulb_nav_holder {
	position: absolute;
	right: 0px;
}


#top-wrapper #menu-playbulb #playbulb_nav_holder{
	width: 60px;	
	margin-right: -6px;
}

#playbulb_nav_holder i {
	display: block;
	padding: 12px;
	font-size: 18px;
	color: lightgray;
	float: left;
}

#playbulb_nav_holder i:hover {
	color: white;
}

#playbulb_nav_holder ul {
	display: none;
	position: absolute;
	top: 55px;
	right: 0;
	height: 157px;
	width: 94px;
}

#top-wrapper #menu-playbulb #playbulb_nav_holder ul.menu-list li {
	border-bottom: 1px dashed rgb(16, 16, 3);
	font-size: 1em;
	font-weight: normal;
	letter-spacing: normal;
}

#top-wrapper #menu-playbulb #playbulb_nav_holder ul.menu-list li:nth-child(2) {
	border-bottom: none !important;
}

#playbulb_mipow_logo_holder,
.c-nav-sp {
	display: none !important;
}

#playbulb_nav_holder ul {
	/*display: none;*/
}

.slider-arrow {
	display: none;
}

.box1 {
	background: url(../img/mobile/slide-1.jpg) center;
	background-size: cover;
}

.box2 {
	background: url(../img/mobile/slide-2.jpg) center;
	background-size: cover;
}

.btn-buy {
	margin-right: -110px;
	right: 50%;
	opacity: .9;
}

.c-contact-ctt {
	margin: 54px auto;
	width: 100%;
	height: 100%;
	/*background-color: #313743;*/
	color: black;
	position: relative;
}

.c-contact-ctt dl {
	float: left;
	line-height: 1.6em;
	margin-bottom: 20px;
	white-space: nowrap;
	font-size: 1em;
	margin-left: 10vw;
}

.c-contact-ctt dt {
	margin-bottom: 3px;
}

.c-contact-ctt dd {
	opacity: .8;
}

.c-contact-wrap {
	margin: 0 auto;
	padding: 10px;
	position: relative;
}

.c-contact-ctt .c-top-img {
	float: none;
	width: 100%;
}

.c-contact-ctt div p:first-of-type {
	font-weight: bold;
}

.c-contact-ctt h2 {
	font-size: 1.2em;
}

.about-us .txt {
  padding-top: 20px;
  text-align: left;
  font-size: 1.2em;
  font-weight: lighter;
}
.about-us .txt p {
  width: 90%;
  margin: 0 auto 20px;
  line-height: 1.5em;
  text-indent: 2em;
}