<div class="mui-content">
	<div class="u-article">
		<div class="u-title">
			<div><img src="img/mission.png" />读书</div>
			<div>
				<span><img src="img/mission_point.png"/>{{$ctrl.info.comment_count}}</span>
				<span><img src="img/mission_experience.png"/>{{$ctrl.info.finish_count}}</span>
			</div>
		</div>
		<div class="u-content">
			<div>
				<img src="{{$ctrl.info.book.cover}}" />
			</div>
			<p class="u-booktitle">{{$ctrl.info.book.title}}</p>
			<p>作者： {{$ctrl.info.book.author}}</p>
			<p class="u-bookcontent">{{$ctrl.info.book.short_basic_facts}}</p>
		</div>
	</div>
	<div class="u-think">
		<div class="u-thinktitle">
			<img src="img/profile_desire.png" />任务感想
		</div>
		<div class="u-thinklist">
			<div class="u-thinkitem" ng-repeat="think in $ctrl.thinks">
				<div class="u-thinkhead"><img src="{{think.head}}" /></div>
				<div class="u-thinkcontent">
					<div class="u-thinkcontenthead">{{think.baby_name}}<img ng-show="{{think.baby_sex == 'm'}}" src="img/male.png" /><img ng-show="{{think.baby_sex == 'f'}}" src="img/female.png" />{{think.baby_age}}</div>
					<div class="u-thinkcontentcontent">
						{{think.describe}}
					</div>
					<div ng-show="{{think.images.length > 0}}" class="u-thinkcontentimg">
						<div ng-repeat="thinkimg in think.images"><img src="{{thinkimg.thumbnail_240x240}}" /></div>
					</div>
					<div class="u-thinkcontentfoot">
						<div>{{think.plan_date}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
