html,
body{
	font-family: "microsoft yahei";
}
.box {
	width: 90vw;
	margin-top: -35px;
	margin-left: -45vw;
	position: absolute;
	top: 45%;
	left: 50%;
}

.ok {
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

.tbox {
	width: 100%;
	background-size: contain;
	margin-top: 20px;
	border: 1px solid rgb(255, 176, 75);
	box-shadow: -1px -1px 15px gray;
	border-radius: 8px;
}

.tbox div {
	width: 20px;
	height: 30px;
	background-color: rgb(229, 112, 120);
	color: white;
	text-align: center;
	font-family: Tahoma;
	font-size: 14px;
	line-height: 30px;
	border-radius: 6px;
}