@import "common";
@import "recover";
@import "animation-common";
@import "animation-pages";

/*
 * 内容
 */
.section(@bg-color) {
  width: 100%;
  height: 100%;
  background-color: @bg-color;
}

.wrapper {
  display: none;
  position: relative;
}

.profile {
  .section(#007CE1);
  //background: url(../img/bg1.jpg) no-repeat center right / cover;
  background: #c21500;
  background: linear-gradient(to left, #c21500, #ffc500);
  transition: background 3s ease;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../img/me.jpg") no-repeat center/contain;
    background-size: cover;
    opacity: 0.3;
    pointer-events: none;
  }
}

.skills {
  .section(#FEA666);
  background: #c21500;
  background: -webkit-linear-gradient(to left, #c21500, #ffc500);
  background: linear-gradient(to left, #c21500, #ffc500);
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../img/bg-cloud.jpg") no-repeat center;
    background-size: cover;
    opacity: 0.8;
    pointer-events: none;
  }
}

.experience {
  .section(#000000);
  font-size: 14px;
  color: white;
  background: #c21500;
  background: -webkit-linear-gradient(to left, #c21500, #ffc500);
  background: linear-gradient(to left, #c21500, #ffc500);
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../img/bg-exp.jpg") no-repeat 100% 100%;
    background-size: cover;
    opacity: 0.3;
    pointer-events: none;
  }
}

.successful {
  .section(#FF6D66);
  background: url(../img/bg_member.jpg) no-repeat center center / cover;
  .snow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100001;
  }
}

.evaluation {
  .section(#5A89E0);
  background: url(../img/bg5.jpg) no-repeat center right / cover;
  .info {
    width: 90%;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px 10px;
    text-indent: 2em;
    color: white;
    font-size: 16px;
    background-color: rgba(0, 0, 0, .5);
  }
}