#iphone5 {
	-moz-user-select: none;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 410px;
}

#iphone-border {
	background: rgba(0, 0, 0, 0) linear-gradient(#ffecd5, #ffecd5 4px, #c7b09b 4px, #897861 16px, #fff6eb 16px, #fff6eb 34px, #f7e2ca 34px, #604c32 66px, #dcdde6 67px, #dcdde6 71px, #705d3a 72px, #f1dcc5 292px, #6c5745 690px, #dcdde6 690px, #dcdde6 694px, #604c32 695px, #f7e2ca 727px, #fff6eb 727px, #fff6eb 745px, #897861 745px, #c7b09b 760px, #ffecd5 760px, #ffecd5) repeat scroll 0 0;
	border-radius: 53px;
	height: 794px;
	position: relative;
	width: 376px;
}

#power-button::before {
	background: #e0d3bc none repeat scroll 0 0;
	border-radius: 3px;
	content: "";
	height: 2px;
	left: 2px;
	position: absolute;
	top: 0;
	width: 61px;
}

#power-button {
	background: rgba(0, 0, 0, 0) linear-gradient(to right, #b49c83, #b49c83 1px, #dcc8b0 2px, #dcc8b0 2px, #bbab97 3px, #a5907c 63px, #dcc8b0 64px, #dcc8b0 64px, #b49c83 65px, #b49c83 100%) repeat scroll 0 0;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	height: 4px;
	left: 260px;
	position: absolute;
	top: -3px;
	width: 65px;
}

#voice-toogle::before {
	background: #e0d3dc none repeat scroll 0 0;
	border-radius: 3px;
	content: "";
	height: 36px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 2px;
}

#voice-toogle {
	background: rgba(0, 0, 0, 0) linear-gradient(#b49c83, #b49c83 1px, #dcc8b0 2px, #dcc8b0 2px, #bbab97 3px, #a5907c 38px, #dcc8b0 39px, #dcc8b0 39px, #b49c83 40px, #b49c83 100%) repeat scroll 0 0;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	height: 40px;
	left: -4px;
	position: absolute;
	top: 113px;
	width: 4px;
}

#voice-plus::before {
	background: #e0d3dc none repeat scroll 0 0;
	border-radius: 3px;
	content: "";
	height: 26px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 2px;
}

#voice-plus {
	background: rgba(0, 0, 0, 0) linear-gradient(#b49c83, #b49c83 1px, #dcc8b0 2px, #dcc8b0 2px, #bbab97 3px, #a5907c 28px, #dcc8b0 29px, #dcc8b0 29px, #b49c83 30px, #b49c83 100%) repeat scroll 0 0;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	height: 30px;
	left: -4px;
	position: absolute;
	top: 185px;
	width: 4px;
}

#voice-minus::before {
	background: #e0d3dc none repeat scroll 0 0;
	border-radius: 3px;
	content: "";
	height: 26px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 2px;
}

#voice-minus {
	background: rgba(0, 0, 0, 0) linear-gradient(#b49c83, #b49c83 1px, #dcc8b0 2px, #dcc8b0 2px, #bbab97 3px, #a5907c 28px, #dcc8b0 29px, #dcc8b0 29px, #b49c83 30px, #b49c83 100%) repeat scroll 0 0;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	height: 30px;
	left: -4px;
	position: absolute;
	top: 243px;
	width: 4px;
}

#home-button::before {
	background: #ebf0f5 none repeat scroll 0 0;
	border-radius: 100%;
	content: "";
	height: 54px;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 54px;
}

#home-button {
	background: rgba(0, 0, 0, 0) linear-gradient(-30deg, #58442e, #e3dbce, #9a8978) repeat scroll 0 0;
	border-radius: 100%;
	bottom: 26px;
	height: 60px;
	left: 150px;
	position: absolute;
	width: 60px;
	z-index: 1;
}

#dynamic::before {
	background: #585858 none repeat scroll 0 0;
	border-radius: 100%;
	content: "";
	height: 10px;
	left: -22px;
	position: absolute;
	top: 0;
	width: 10px;
	z-index: 2;
}

#dynamic {
	background: #1d1c1b none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: 0 0 0 3px #e0e1e3;
	height: 8px;
	left: 150px;
	position: absolute;
	top: 65px;
	width: 72px;
	z-index: 2;
}

#phone-camera::before {
	background: #123188 none repeat scroll 0 0;
	border-radius: 100%;
	box-shadow: 0 0 0 2px #0449b8;
	content: "";
	height: 3px;
	left: 6px;
	position: absolute;
	top: 6px;
	width: 3px;
}

#phone-camera {
	background: rgba(0, 0, 0, 0) linear-gradient(45deg, #313232, #6e6f6f) repeat scroll 0 0;
	border-radius: 100%;
	height: 15px;
	left: 178px;
	position: absolute;
	top: 33px;
	width: 15px;
	z-index: 2;
}

#iphone-panel {
	background: #f5f6f8 none repeat scroll 0 0;
	border-radius: 46px;
	box-shadow: 0 0 0 1px #deddd9, 0 0 0 2px #eff0f4, 0 0 0 3px #deddd9, 0 0 0 4px #f8f0e2;
	height: 778px;
	left: 8px;
	position: relative;
	top: 8px;
	width: 360px;
}

#iphone-display {
	background: rgba(0, 0, 0, 0) linear-gradient(#a5e5f7, #d9b8f5) repeat scroll 0 0;
	border: 3px solid #313131;
	border-radius: 2px;
	height: 568px;
	left: 20px;
	position: absolute;
	top: 105px;
	width: 320px;
}

#headline {
	padding: 6px 3px 5px;
	position: relative;
}

#net::after {
	background: #a5e5f7 none repeat scroll 0 0;
	border: 1px solid black;
	border-radius: 100%;
	content: "";
	display: block;
	height: 6px;
	left: 35px;
	position: absolute;
	width: 6px;
}

#net {
	background: #000 none repeat scroll 0 0;
	border-radius: 100%;
	box-shadow: 8px 0 black, 16px 0 black, 24px 0 black;
	height: 6px;
	width: 6px;
}

#headline span {
	font-size: 12px;
	left: 44px;
	position: absolute;
	top: 1px;
	transform: scale(0.9);
}

#wifi::before {
	border: 2px solid black;
	border-radius: 11px;
	content: "";
	display: block;
	height: 11px;
	width: 11px;
}

#wifi::after {
	border: 2px solid black;
	border-radius: 11px;
	content: "";
	display: block;
	height: 7px;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 7px;
}

#wifi {
	height: 10px;
	left: 92px;
	overflow: hidden;
	position: absolute;
	top: 3px;
	transform: rotate(45deg) scale(0.9);
	width: 10px;
}

#headline-time {
	font-size: 12px;
	left: 125px;
	position: absolute;
	top: 1px;
	transform: scale(0.9);
	width: 80px;
}

#battery::before {
	background: #06e563 none repeat scroll 0 0;
	content: "";
	height: 4px;
	left: 1px;
	position: absolute;
	top: 1px;
	width: 18px;
}

#battery::after {
	background: black none repeat scroll 0 0;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	content: "";
	height: 6px;
	position: absolute;
	right: -3px;
	top: 1px;
	width: 2px;
}

#battery {
	background: transparent none repeat scroll 0 0;
	border: 1px solid black;
	box-shadow: 0 0 0 1px white inset;
	height: 8px;
	position: absolute;
	right: 23px;
	top: 5px;
	width: 24px;
}

#wifi .dot {
	background: black none repeat scroll 0 0;
	border-radius: 100%;
	height: 6px;
	left: 6px;
	position: absolute;
	top: 6px;
	width: 6px;
}