/*reset*/
body,html{ height:100%;}
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form, fieldset,input,textarea,blockquote,th,td { margin:0; padding:0; } table { border-collapse:collapse; border-spacing:0; } fieldset,img { border:0; } address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; } ol,ul { list-style:none; } caption,th { text-align:left; } h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; } q:before,q:after { content:''; } abbr,acronym { border:0; } 
a{ cursor:pointer;}
a:hover{ text-decoration:none !important;}
.clear{ clear:both} 
ul,li{
	list-style: none;
}

/*begin*/
@font-face {
	font-family: 'huakang';
	src: url(../fonts/huakang.ttf) format('truetype');
}
html{
	overflow-x: hidden;
}
body {
	font-family: "microsoft yahei";
}

.mui-plus.mui-android header.mui-bar {
	display: none;
}

.mui-plus.mui-android .mui-bar-nav~.mui-content {
	padding: 0;
}

.mui-bar {
	background: #F5BE3B url(../img/nav_line.png) bottom center no-repeat;
    background-size: contain;
    height: 57px;
    opacity: .96;
    position: static;
}

.mui-title {
	color: #D36E3D;
	font-family: 'huakang';
	font-size: 28px;
	letter-spacing: 1px;
	line-height: 56px;
}

.mui-title *{
	vertical-align: middle;
}

.mui-title img{
	height: 45px;
	margin-bottom: 4px;
}

.mui-content {
	background: #6DE3E9 url(../img/bg.png) top no-repeat fixed;
	background-size: cover;
	min-height: 100vh;
	padding-bottom: 20px;
	padding-top: 1px !important;
}

/*user*/
.u-article {
	/*height: 200px;*/
	margin: 30px 4% 0;
	background: #FFEEBE;
	border-radius: 10px;
	box-shadow: 0 0 10px gray;
	padding: 10px;
	position: relative;
}

.u-title {
	height: 25px;
}

.u-title div {
	height: 25px;
	margin-left: 10px;
	color: #AF6E01;
}

.u-title * {
	vertical-align: middle;
}

.u-title div:first-of-type {
	font-family: 'huakang';
	float: left;
	font-size: 18px;
}

.u-title div:last-of-type {
	float: right;
}

.u-title div:last-of-type span:first-of-type {
	margin-right: 10px;
}

.u-title img:first-of-type {
	height: 120%;
}

.u-title img {
	height: 100%;
	margin-right: 10px;
}

.u-share {
	background: url(../img/share.png) no-repeat;
	background-size: contain;
	width: 46px;
	height: 46px;
}

.u-content {
	clear: both;
}

.u-content div:first-child {
	width: 140px;
	height: 140px;
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.u-content-video,.u-content-txt{
	width: 100% !important;
	height: 100% !important;
}
.u-content-music{
	width: 100% !important;
}
.u-content div:first-of-type img {
	border-radius: 10px;
	border: 1px solid #D04A14;
	width: 140px;
	height: 140px;
	overflow: hidden;
}
.u-content-music img:first-of-type{
	float: left !important;
	margin-right: 20px;
	margin-left: 10px;
}
.u-content-music div{
	height: 105px;
	color: #E1B430;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}
.u-content-txt img:first-of-type{
	width: 100% !important;
	height: 100% !important;
}
.u-content-txt p.title{
	color: #B4770E;
    margin-bottom: 10px;
    margin-left: 5px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}
.u-music-ls{
	padding: 22px;
    background: white url(../img/musiclsbg.png) center no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 16px lightgray;
    opacity: .9;
}
video,audio{
	width: 100%;
}
.u-music-ls *{
	vertical-align: middle;
}
.u-music-ls li{
	border-bottom: 1px dashed #A6D3E6;
    padding-bottom: 5px;
    padding: 10px;
    display: inline-block;
    width: 100%;
}
.u-music-ls span{
	color: #5278B2;
	font-size: 16px;
	padding-left: 5px;
	line-height: 33px;
}
.u-music-ls li:first-of-type{
	border-top: 1px dashed #A6D3E6;
}

.u-music-ls li img{
	width: 33px;
	float: right;
}
.u-content-music p{
	text-align: left !important;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.u-content p {
	text-align: center;
	color: #E1B430;
	font-size: 16px;
}

.u-booktitle {
	color: #BA7F1A !important;
	font-size: 18px !important;
	font-weight: bold;
}

.u-bookcontent {
	text-align: left !important;
	text-indent: 2em;
}

p.u-bookcontent img{
	width: auto !important;
}

.u-think {
	margin: -30px 4% 60px;
	padding: 45px 10px 20px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
}

.u-thinktitle {
	height: 35px;
	color: #E8743E;
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 6px;
	border-bottom: 2px dashed #7FB0D0;
}

.u-thinktitle * {
	vertical-align: middle;
}

.u-thinktitle img {
	height: 100%;
	margin-right: 8px;
}

.u-thinklist {
	/*margin-top: 12px;*/
}

.u-thinkitem {
	margin-top: 12px;
	display: inline-block;
	width: 100%;
}

.u-thinklist:after {
	content: "";
	display: block;
	clear: both;
}

.u-thinkcontent {
	float: left;
	margin-left: 8px;
	max-width: 77%;
	margin-bottom: 10px;
}

.u-thinkitem:after {
	content: "";
	display: block;
	clear: both;
	border-bottom: 1px dashed white;
}

.u-thinkhead {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	border: 1px solid #D04A14;
	overflow: hidden;
	float: left;
}

.u-thinkhead img {
	height: 100%;
	width: 100%;
}

.u-thinkcontenthead {
	height: 18px;
	color: #6D4E97;
	font-weight: 500;
}

.u-thinkcontenthead img {
	height: 100%;
	margin: 0 5px;
}

.u-thinkcontenthead * {
	vertical-align: middle;
}

.u-thinkcontentcontent {
	margin: 10px 0;
	color: #5B5A5A;
}

.u-thinkcontentimg {
	display: inline-block;
}

.u-thinkcontentimg div {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
}

.u-thinkcontentimg img {
	width: 100%;
	height: 100%;
}

.u-thinkcontentfoot div:first-of-type {
	color: #5B5A5A;
	font-size: 13px;
}

.btn-download {
	position: fixed;
    width: 168px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    background-size: contain;
    color: #fff;
    font-size: 25px;
    bottom: 10px;
    margin-left: -84px;
    left: 50%;
    transition: all .1s;
    cursor: pointer;
}
.btn-download span {
    margin-left: -10px;
    border: 1px solid #fff;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    padding: 7px;
}
.btn-download *{
	vertical-align: middle;
}
.btn-download img{
	width: 70px;
	margin-top: 7px;
}
.btn-download-bg{
    height: 57px;
    width: 100%;
    background-color: #F5BE3B;
    position: fixed;
    line-height: 57px;
    bottom: 0px;
}

.u-bar-bottom{
	background: white;
	position: fixed;
}
.u-moments{
    background-color: rgba(0,0,0,.4);
    min-width: 47px;
    float: right;
    height: 22px;
    margin-right: 8px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    text-align: center;
}
.u-moments *{
	vertical-align: middle;
}
.u-moments img{
	width: 16px;
	height: auto;
	margin-right: 4px;
}
.u-thinkcontentfoot div:first-child{
	float: left;
}
.u-thinkcontentfoot{
	margin-top: 8px;
	height: 27px;
	width: 69vw;
}
.u-comment-ls{
	clear: both;
	padding: 10px;
    background-color: rgba(224,255,255,.5);
}
.u-comment-ls p{
	color: black;
	margin-bottom: 2px;
}
.u-comment-ls p:first-child{
	color: #6D4E97;
}

.u-comment-item{
	border-bottom: 1px dashed white;
}
.u-comment-item:last-child{
	border-bottom: none;
}
