@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.view-frame.ng-enter {
  animation: 5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  animation: 5s fade-out;
  z-index: 99;
}

.u-thinkitem.ng-enter,
.u-thinkitem.ng-leave,
.u-thinkitem.ng-move {
  overflow: hidden;
  transition: 2s linear all;
}

.u-thinkitem.ng-enter,
.u-thinkitem.ng-leave.ng-leave-active,
.u-thinkitem.ng-move {
  height: 0;
  margin-top: 0;
  opacity: 0;
}

.u-thinkitem.ng-enter.ng-enter-active,
.u-thinkitem.ng-leave,
.u-thinkitem.ng-move.ng-move-active {
  height: 100%;
  opacity: 1;
  margin-top: 12px;
}